@media only screen and (min-width: 1135px) {
  body {
    display: block;
    margin: 0%;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .nav {
    height: 72px;
    background-color: #3e3c3c;
    display: flex;
    align-items: center;
    justify-items: center;
    flex: 1;
  }

  .menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }

  .logo {
    width: 6.38%;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: 7.5%;
    margin-right: 50.38%;
  }

  .hamburger-nav {
    display: none;
  }

  .item-nav {
    width: 4.37%;
    height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .presentation {
    height: 798px;
    width: 100%;
    display: flex;
    flex: 20;
    align-items: center;
    background: #1c1a19;
    background-image: url(./images/Illustration-header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .wrapper-extra {
    display: flex;
    flex-direction: column;
    flex: 10;
    order: 2;
  }

  .social-group ul {
    list-style: none;
    margin: 50px;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    flex: 1;
  }

  .text-1 {
    width: 39.3%;
    height: 160px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    margin-bottom: 24px;
  }

  .text-2 {
    width: 39.3%;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .text-3 {
    width: 39.3%;
    height: 123px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .wrapper-flex-1 {
    display: flex;
    align-items: center;
    margin-top: 135px;
    margin-left: 10.65%;
  }

  .title {
    width: 26%;
    height: 52px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .line-1 {
    width: 55.13%;
    height: 0%;
    border: 1px solid #212121;
  }

  .wrapper-flex-2 {
    display: flex;
    margin-left: 9.79%;
    margin-top: 114px;
    margin-right: 9.79%;
  }

  .image-work {
    width: 59.17%;
    height: auto;
  }

  .wrapper-flex-3 {
    display: flex;
    flex-direction: column;
    margin-left: 1.66%;
    width: 40.83%;
  }

  .title-multi {
    width: 100%;
    height: 48px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    margin-top: 0%;
  }

  .works-description {
    width: 100%;
    height: 140px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
  }

  .button-container {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px;
    column-gap: 15px;
    row-gap: 15px;
    margin-left: 0%;
    padding-left: 0%;
  }

  .button1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 12px;
    background: white;
    border: 1px solid #8993a4;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  }

  .button1:hover {
    color: black;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .button2 {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background: #ba4d00;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .button2:hover {
    color: #b84300;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .wrapper-cards {
    display: grid;
    grid-template-columns: repeat(3, 31.29%);
    grid-template-rows: repeat(2, 435px);
    margin-left: 9.79%;
    margin-right: 9.79%;
    margin-top: 24px;
    column-gap: 24px;
    row-gap: 37px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 435px;
    margin-top: 0%;
  }

  .orange-button {
    width: 100%;
    height: 58px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: white;
    background: #ba4d00;
    text-decoration: none;
  }

  .orange-button:hover {
    color: #b84300;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .title-post {
    width: 91.32%;
    height: 81px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-left: 4.33%;
  }

  .supporting-text {
    width: 91.32%;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    margin-left: 4.33%;
  }

  .button-container-float {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3%;
    padding-left: 0%;
    margin-left: 4.33%;
  }

  .button3 {
    box-sizing: border-box;
    flex-direction: row;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    border-style: none;
    color: white;
  }

  .button3:hover {
    box-sizing: border-box;
    padding: 10px 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    border-style: none;
    color: black;
    background: #fff5e1;
  }

  .card-0 {
    background: url(./images/Placeholder2.png);
    background-repeat: no-repeat;
  }

  .card-1 {
    background:

      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(./images/card-1-back.png);
    background-repeat: no-repeat;
  }

  .card-2 {
    background: url(./images/card-4-back.png);
    background-repeat: no-repeat;
  }

  .card-3 {
    background:

      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(./images/Placeholder2.png);
    background-repeat: no-repeat;
  }

  .card-4 {
    background:

      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(./images/card-1-back.png);
    background-repeat: no-repeat;
  }

  .card-5 {
    background: url(./images/card-4-back.png);
    background-repeat: no-repeat;
  }

  .finale {
    width: 100%;
    background-image: url(./images/illustration-about-me-desktop.png);
    background-position: 100% 25%;
    background-size: 50% 300px;
    background-repeat: no-repeat;
    background-color: #262626;
  }

  .about-me {
    width: 39.3%;
    height: 78px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    margin-left: 9.86%;
    margin-bottom: 24px;
    padding-top: 130px;
  }

  .finale-description {
    width: 39.3%;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-left: 9.86%;
  }

  .get-my-resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 170px;
    height: 48px;
    background: #ba4d00;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    margin-left: 9.86%;
  }

  .get-my-resume:hover {
    color: #b84300;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .img-1 {
    display: none;
  }

  .img-2 {
    position: relative;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 300px;
  }

  .line-separator {
    height: 0%;
    border: 1px solid #fff;
    margin-left: 9.86%;
    margin-right: 9.86%;
    margin-top: 151px;
  }

  .wrapper-end {
    display: flex;
    padding-bottom: 196px;
  }

  .container-duo {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .item-rotated-square {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    transform: rotate(-45deg);
  }

  .wrapper-item-about {
    margin-left: 9.86%;
  }

  .item-2 {
    height: 24px;
    font-family: 'InaiMathi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .item-square {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
  }

  .item-circle {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    border-radius: 150px;
  }

  .language-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex: 1;
  }

  .contact-me-form {
    display: flex;
    margin-bottom: 166px;
    margin-left: 9.86%;
    margin-right: 9.86%;
  }

  .content {
    width: 50%;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #262626;
    margin-top: 130px;
    padding-right: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 150px;
  }

  .items-form {
    margin-bottom: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #dbd8d7;
    width: 100%;
  }

  #name {
    height: 46px;
  }

  #email {
    height: 46px;
  }

  .textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 24px;
    background: #fbf8f7;
    height: 114px;
    width: 100%;
    padding: 12px;
  }

  .form-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #ba4d00;
    color: white;
    border: none;
    width: 122px;
    height: 48px;
  }

  .form-button:hover {
    color: #b84300;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .social-group-end {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 12px;
  }

  label {
    display: none;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 1;
    background: #979493;
    mix-blend-mode: multiply;
  }

  .window {
    box-sizing: border-box;
    width: 80.27%;
    height: 95%;
    position: fixed;
    left: 9.86%;
    top: 20px;
    background: #fff;
    border: 1px solid #dfe1e6;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 25px;
  }

  .window::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .window-header {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    color: #172b4d;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .close-btn-popup {
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
  }

  .button-group {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }

  .button-popup {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3c3a39;
    border: 1px solid #dfe1e6;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .wrapper-popup-1 {
    display: flex;
    margin-top: 50px;
  }

  .wrapper-popup-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.4;
    margin-left: 25px;
  }

  .img-popup-desktop {
    flex: 0.59;
  }

  .popup-title {
    display: none;
  }

  .popup-title-desktop {
    display: flex;
  }

  .live-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 12px;
    height: 48px;
    background: #ff6b00;
    flex: 1;
    border-style: none;
  }

  .live-button:hover {
    color: #ff6b00;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .letter-style {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .description-popup-desktop {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .description-popup {
    display: none;
  }
}

@media only screen and (max-width: 1135px) {
  body {
    display: block;
    margin: 0%;
  }

  nav {
    background-color: #3c3a39;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 77px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    padding-left: 6.4%;
  }

  .menu {
    display: none;
  }

  .hamburger-nav {
    display: block;
    padding-right: 6.4%;
  }

  .presentation {
    height: 590px;
    background-color: #1c1a19;
    background-image: url(./images/Illustration.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }

  .text-1 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    padding-top: 9%;
    padding-left: 6.4%;
    margin-bottom: 0%;
  }

  .text-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff5e1;
    padding-left: 6.4%;
    margin-bottom: 0%;
  }

  .text-3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-left: 6.4%;
    padding-right: 6.4%;
  }

  .social-group ul {
    list-style: none;
    margin-left: 6.4%;
    margin-right: 19.2%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3%;
    padding-left: 0%;
  }

  .social img {
    width: 70%;
  }

  .wrapper-works {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 935px;
    height: 1000px;
    width: 100%;
  }

  .title {
    height: 83px;
    width: 87.2%;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    margin-top: 120px;
    margin-left: 6.4%;
    margin-right: 6.4%;
    margin-bottom: 80px;
    padding-bottom: 24px;
    border-bottom: 1px solid #212121;
  }

  .image-work {
    height: 237px;
    width: 327px;
    margin-left: 6.4%;
  }

  .title-multi {
    width: 87.2%;
    height: 83px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #1c1a19;
    margin-left: 6.4%;
    margin-right: 6.4%;
  }

  .works-description {
    width: 87.2%;
    height: 147px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-left: 6.4%;
    margin-right: 6.4%;
  }

  .button-container {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px;
    padding-left: 6.4%;
    padding-right: 6.4%;
    column-gap: 4%;
    row-gap: 15px;
  }

  .button1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 12px;
    background: white;
    border: 1px solid #8993a4;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  }

  .button1:hover {
    color: black;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .button2 {
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background: #ba4d00;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .button2:hover {
    color: #b84300;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .title-post {
    width: 78.66%;
    height: 81px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-left: 4.2%;
    margin-right: 4.2%;
  }

  .supporting-text {
    width: 78.66%;
    height: 87px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 4.2%;
    margin-right: 4.2%;
  }

  .button-container-float {
    list-style: none;
    display: flex;
    padding-left: 4.2%;
    gap: 3%;
  }

  .button3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    border-style: none;
    color: white;
  }

  .button3:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10px 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    border-style: none;
    color: black;
    background: #fff5e1;
  }

  .orange-button {
    width: 100%;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background: #ba4d00;
    color: white;
    text-decoration: none;
  }

  .orange-button:hover {
    color: #b84300;
    background: #fff5e1;
    border: 1px solid #ff6b00;
  }

  .wrapper-cards {
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 386px);
    margin-left: 6.4%;
    margin-right: 6.4%;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 386px;
    background:

      linear-gradient(
        180.45deg,
        rgba(38, 38, 38, 0) 0.75%,
        rgba(38, 38, 38, 0.9) 61.94%
      ),
      url(./images/Placeholder2.png);
    background-repeat: no-repeat;
  }

  .card-0 {
    grid-column: 1 / 1;
  }

  .card-1 {
    grid-column: 1 / 2;
  }

  .card-2 {
    grid-column: 1 / 3;
  }

  .card-3 {
    grid-column: 1 / 4;
  }

  .card-4 {
    grid-column: 1 / 5;
  }

  .card-5 {
    grid-column: 1 / 6;
  }

  .finale {
    width: 100%;
    background: #1c1a19;
    background-repeat: no-repeat;
    background-position: 90% 5%;
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-start;
    position: relative;
  }

  .img-1 {
    position: absolute;
    right: 0;
    top: 390px;
  }

  .about-me {
    height: 79px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    margin-top: 120px;
    margin-bottom: 0%;
    padding-left: 6.4%;
  }

  .finale-description {
    width: 70%;
    height: 148px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    margin-left: 6.4%;
  }

  .get-my-resume {
    width: 161px;
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #ba4d00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 211px;
    margin-left: 6.4%;
  }

  .get-my-resume:hover {
    background: #fff5e1;
    color: #b84300;
    border: 1px solid #ff6b00;
  }

  .wrapper-space-white {
    margin: 0 auto;
    width: 375px;
    height: 100px;
    flex: 1;
    background: white;
  }

  .wrapper-end {
    width: 100%;
    height: 1200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #1c1a19;
  }

  .line-separator {
    width: 80%;
    height: 1px;
    margin-left: 6.4%;
    margin-right: 6.4%;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    margin-bottom: 140px;
  }

  .container-duo {
    display: flex;
    align-items: center;
    color: white;
    gap: 24px;
  }

  .item-rotated-square {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    transform: rotate(-45deg);
  }

  .item-2 {
    width: 43.73%;
    height: 24px;
    font-family: 'InaiMathi', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .list-arrange {
    list-style: none;
    margin-left: 1px;
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .language-item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex: 1;
  }

  .item-square {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
  }

  .item-circle {
    color: white;
    text-align: right;
    width: 18px;
    height: 18px;
    background: #ff6b00;
    border-radius: 150px;
  }

  .contact-me-form {
    padding: 7.3%;
  }

  .content {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .items-form {
    margin-bottom: 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #dbd8d7;
    width: 100%;
  }

  #name {
    height: 46px;
  }

  #email {
    height: 46px;
  }

  .textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 24px;
    background: #fbf8f7;
    height: 114px;
    width: 100%;
    padding: 12px;
  }

  .form-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background: #ba4d00;
    color: white;
    border: none;
    padding: 12px;
  }

  .form-button:hover {
    background: #fff5e1;
    color: #b84300;
    border: 1px solid #ff6b00;
  }

  .social-group-end {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 12px;
  }

  .rectangle {
    height: 3px;
    width: 30%;
    background-color: #555;
    margin-bottom: 32px;
    margin-left: 35%;
  }

  label {
    display: none;
  }

  .container-mobile-menu {
    display: none;
    width: 100%;
    height: 755px;
    background: #3c3a39;
    position: fixed;
    left: 0%;
    top: 0%;
  }

  .menu-mobile-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 34px;
  }

  .menu-mobile-links a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff5e1;
    text-decoration: none;
  }

  .container-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 10.1%;
    padding-top: 12px;
  }

  .border {
    border-bottom: 1px solid #6f6c6b;
    margin-left: 10.66%;
    margin-right: 10.66%;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 1;
    background: #979493;
    mix-blend-mode: multiply;
  }

  .window {
    box-sizing: border-box;
    width: 91.46%;
    height: 90%;
    position: fixed;
    left: 4.26%;
    top: 1%;
    background: #fff;
    border: 1px solid #dfe1e6;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 1% 3% 5% 3%;
    margin-top: 5%;
  }

  .window::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .window-header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 44px;
    color: #172b4d;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .close-btn-popup {
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
  }

  .button-popup {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3c3a39;
    border: 1px solid #dfe1e6;
    padding: 12px;
    display: flex;
    align-items: center;
  }

  .button-group {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    gap: 12px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
  }

  .popup-title-desktop {
    display: none;
  }

  .description-popup {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .live-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 12px;
    height: 48px;
    background: #ff6b00;
    flex: 1;
    border-style: none;
  }

  .live-button:hover {
    color: #ff6b00;
    background: #fff5e1;
    border: 1px solid #f55800;
  }

  .letter-style {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .wrapper-popup-1 {
    margin-top: 24px;
    padding-top: 36px;
  }

  .img-popup-desktop {
    width: 100%;
  }

  .description-popup-desktop {
    display: none;
  }
}
